# Ambiente virtual
.venv/
venv/
__pycache__/
*.pyc

# Banco de dados
*.db
instance/*
!instance/.gitkeep

# Uploads de usuários
pinterestlite/static/fotos_posts/*
!pinterestlite/static/fotos_posts/.gitkeep

# Segredos
secretkey.py
.env

# Sistema
.DS_Store
Thumbs.db
